<ion-content>
  <img class="pantalla-con-padding-horizontal" src="./assets/images/logo_duoc.png">
  
  
    <ion-title class="ion-padding-top ion-text-center pantalla-con-padding-horizontal">
      <ion-label>
        <h1 class="texto">Sistema de Asistencia</h1>
        <h1 class="texto">Duoc UC</h1>
        <br>
      </ion-label>
    </ion-title>
  
  

      <ion-card class="pantalla-con-padding-horizontal fondo-card">
        <ion-card-subtitle class="ion-text-center texto-2"> Recuperar contraseña </ion-card-subtitle>
        <br>
        <ion-card-subtitle class="ion-text-center texto-2"> ¡Correcto!</ion-card-subtitle>
        <img src="./assets/images/Screenshot_1.png" width="600 px" height="300 px">
        <br>
        <ion-card-subtitle class="ion-text-center texto-2">Tu contraseña es </ion-card-subtitle>
        <h3 class="ion-text-center texto-2">{{ usuario.password }}</h3>
        <br>
      </ion-card>
      <div class="ion-padding-top ion-text-center">
        <ion-button (click)="volverIngresar()" expand="block" fill="clear" shape="round">
          Volver a ingreso
        </ion-button>
      </div>
  </ion-content>