<ion-content>
  <img src="./assets/icon/logo_duoc.png">


  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Sistema de Asistencia Duoc UC</h1>
    </ion-label>
  </ion-title>
    <div class="ion-padding-vertical">
      <ion-card>

        <br>
        <ion-card-subtitle class="ion-text-center"> Recuperar contraseña </ion-card-subtitle>
        <br>
        <div class="ion-text-center">
        <img src="./assets/icon/funciona.png" width="150 px" height="115 px">
      </div>
        <ion-col size="12">
     
      <ion-title class="ion-padding-top ion-text-center">
        <ion-label>
          <h1>¡Correcto!</h1>
          <br>
          <h1>Tu contraseña es: [...]</h1>
        </ion-label>
      </ion-title>
       </ion-col>
      </ion-card>
      <div class="ion-padding-top ion-text-center">
        <a routerLink="/ingreso"> Iniciar sesión </a>
      </div>
