.pantalla-con-padding-horizontal {
    padding-left: 30px; /* Ajusta el valor según el espacio de relleno izquierdo deseado */
    padding-right: 30px; /* Ajusta el valor según el espacio de relleno derecho deseado */
  }
  
  .fondo-card {
      background-color: rgba(14, 16, 87, 0.8); /* rgba color with 0.8 opacity */
  }
  
  .texto {
      color: rgb(16, 6, 73);
  }
  
  .texto-2 {
      color: rgb(255, 255, 255);
  }