<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-title #titulo>
      <img src="./assets/images/logo_duoc.png" width="280 px" height="65 px">
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="componente_actual"  (ngModelChange)="cambiarComponente($event)">
      
      <ion-segment-button id="qr" value="qr">
        <h3>QR</h3>
      </ion-segment-button>

      <ion-segment-button id="miclase" value="miclase">
        <h3>Mi clase</h3>
      </ion-segment-button>

      <ion-segment-button id="foro" value="foro">
        <h3>Foro</h3>
      </ion-segment-button>

      <ion-segment-button id="misdatos" value="misdatos">
        <h3>Mis datos</h3>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-qr [hidden]="componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>

  <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase>

  <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>

  <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="boton-salir" (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>
